form {
  width: 320px;
  padding: 30px;
  margin: 25px 0;
  border-radius: 10px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
#titleLanding {
  color: #e43333;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 620px;
  left: 20%;
}
#hero {
  width: 100%;
  background-image: url("./7852702_1932.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
}
