form {
  width: 320px;
  padding: 30px;
  margin: 25px 0;
  border-radius: 10px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
#titleLanding {
  position: absolute;
  color: #ffffff;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 70%;
}
